<h3>Cart</h3>

<div *ngIf="items.length > 0; else noItems">
  <div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
  </div>
</div>
<ng-template #noItems>
  <div>Nothing in your cart!</div>
</ng-template>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<h4>Fill this form to purchase your products</h4>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name">Name</label>
    <input #name id="name" autocomplete="off" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">Address</label>
    <input #address id="address" autocomplete="off" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>
</form>
